<!DOCTYPE html>
<html>
  
  <head>
    <meta charset='UTF-8' />
    <title>Calendar List</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>

  <body class='container'>
    <p>You added: <%= Events %></p>
  puts "Hello world!"

    <p><a href='/results'>See the full list</a></p>
    
  </body>
</html>


  <p>You cast: <%= List %></p>
    <p><a href='/results'>See the results!</a></p>
  </body>