<!DOCTYPE html>
<html>
  
  <head>
    <meta charset='UTF-8' />
    <title>Calendar List</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>

  <body class='container'>
  	<%= "You added: #{params[:event_date]} — #{params[:name]}, submitted by: #{params[:submitted_by]}" %> 
    <p><a href='/results'>See the full list</a></p>   
  </body>
</html>

